body {
}

.container {
}

.row {
  height: 9px;
  margin-top: 1px;
}

.row-top {
  margin-bottom: 3px;
}

.cell {
  float: left;
  height: inherit;
  width: 9px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.cell-top {
  border-top: 1px solid black;
  margin-bottom: 1px;
}

.cell-left {
  border-left: 1px solid black;
}

.live {
  background-color: black;
}
